In [1]:
# set depedencies
import pandas as pd
import numpy as np
import os

In [2]:
#load assesment file
Hills_Values = os.path.join ("../Resources/GB/HillsboroughAsmt.csv")

#create dataframe
Hills_Values_df = pd.read_csv(Hills_Values, dtype={'PHY_ZIPCD':'str','TOT_LVG_AREA':'str','ACT_YR_BLT':'str'})

Hills_Values_df.head()

,CO_NO,SEQ_NO,PARCEL_ID,ASMNT_YR,JV,LND_VAL,LND_UNTS_CD,NO_LND_UNTS,LND_SQFOOT,IMP_QUAL,...,OWN_ZIPCD,S_LEGAL,NBRHD_CD,CENSUS_BK,PHY_ADDR1,PHY_ADDR2,PHY_CITY,PHY_ZIPCD,ALT_KEY,STATE_PAR_ID
0,39,1,153323ZZZ000000000200A,2020,4628604,4554224,1,38842.0,13634755.0,NaN,...,33711.0,23 24 25 AND 26-33-15,22700200,120579900000,EGMONT KEY,NaN,ST PETERSBURG,33715,10000,C39-000-383-0762-5
1,39,2,153323ZZZ000000000201A,2020,100,100,5,1.0,NaN,NaN,...,33602.0,TAMPA BAY,22700200,120579900000,NaN,NaN,NaN,NaN,2900000202,C39-001-120-8468-6
2,39,3,153323ZZZ000000000400A,2020,208044,142794,1,550.0,267803.0,NaN,...,33601.0,THAT PART OF GOVT LOT 1 DESC A,22700200,120579900000,NaN,NaN,ST PETERSBURG,33715,50000,C39-000-383-0763-3
3,39,4,172701001000000000001U,2020,147699,5875,1,250.0,108816.0,NaN,...,33556.0,KEYSTONE PARK COLONY,21100700,120570115091,19507 PINE TREE RD,NaN,ODESSA,33556,370275,C39-000-421-5629-9
4,39,5,172701001000000000010U,2020,140829,134439,1,458.0,205316.0,NaN,...,33556.0,KEYSTONE PARK COLONY,21100700,120570115092,19931 ANGEL LN,NaN,ODESSA,33556,80000,C39-000-421-5630-7

In [3]:
#pick necessary columns
Home_Values_df = Hills_Values_df [['SEQ_NO','PARCEL_ID','JV','NBRHD_CD','CENSUS_BK','PHY_ADDR1','PHY_CITY','PHY_ZIPCD','TOT_LVG_AREA','ACT_YR_BLT']]
Home_Values_df.head()

,SEQ_NO,PARCEL_ID,JV,NBRHD_CD,CENSUS_BK,PHY_ADDR1,PHY_CITY,PHY_ZIPCD,TOT_LVG_AREA,ACT_YR_BLT
0,1,153323ZZZ000000000200A,4628604,22700200,120579900000,EGMONT KEY,ST PETERSBURG,33715,NaN,NaN
1,2,153323ZZZ000000000201A,100,22700200,120579900000,NaN,NaN,NaN,NaN,NaN
2,3,153323ZZZ000000000400A,208044,22700200,120579900000,NaN,ST PETERSBURG,33715,NaN,NaN
3,4,172701001000000000001U,147699,21100700,120570115091,19507 PINE TREE RD,ODESSA,33556,NaN,NaN
4,5,172701001000000000010U,140829,21100700,120570115092,19931 ANGEL LN,ODESSA,33556,NaN,NaN

In [4]:
#remove any null values 
home_value1_df =Home_Values_df.dropna()
home_value1_df.head()

,SEQ_NO,PARCEL_ID,JV,NBRHD_CD,CENSUS_BK,PHY_ADDR1,PHY_CITY,PHY_ZIPCD,TOT_LVG_AREA,ACT_YR_BLT
5,6,172701001000000000011U,462229,21100700,120570115092,19859 ANGEL LN,ODESSA,33556,3972,1996
6,7,172701001000000000012U,496434,21100700,120570115091,7320 W COUNTY LINE RD,ODESSA,33556,4643,2003
7,8,172701001000000000013U,358083,21100700,120570115091,7212 W COUNTY LINE RD,ODESSA,33556,3269,1999
8,9,172701001000000000014U,819704,21100700,120570115091,7222 W COUNTY LINE RD,ODESSA,33556,8203,2008
9,10,172701001000000000015U,325923,21100700,120570115091,7326 W COUNTY LINE RD,ODESSA,33556,2608,2003

In [5]:
#remame columns
renamed_df = home_value1_df.rename(columns={"JV": "PropertyValue",
                                            "PHY_ADDR1": "PropAddress",
                                            "PHY_CITY":"City",
                                            "PHY_ZIPCD":"ZipCode",
                                             "TOT_LVG_AREA":"BldgSqFt",
                                           "ACT_YR_BLT": "YearBuilt"})
renamed_df.head()

,SEQ_NO,PARCEL_ID,PropertyValue,NBRHD_CD,CENSUS_BK,PropAddress,City,ZipCode,BldgSqFt,YearBuilt
5,6,172701001000000000011U,462229,21100700,120570115092,19859 ANGEL LN,ODESSA,33556,3972,1996
6,7,172701001000000000012U,496434,21100700,120570115091,7320 W COUNTY LINE RD,ODESSA,33556,4643,2003
7,8,172701001000000000013U,358083,21100700,120570115091,7212 W COUNTY LINE RD,ODESSA,33556,3269,1999
8,9,172701001000000000014U,819704,21100700,120570115091,7222 W COUNTY LINE RD,ODESSA,33556,8203,2008
9,10,172701001000000000015U,325923,21100700,120570115091,7326 W COUNTY LINE RD,ODESSA,33556,2608,2003

In [6]:
renamed_df.to_csv("../Resources/GB/All_Hill_Prop_Value.csv")

In [7]:
#create data frame for specific zip code


Zip_df = renamed_df.loc[(renamed_df["ZipCode"]=="33613")|(renamed_df["ZipCode"]=="33556")]

Zip_df.head()

,SEQ_NO,PARCEL_ID,PropertyValue,NBRHD_CD,CENSUS_BK,PropAddress,City,ZipCode,BldgSqFt,YearBuilt
5,6,172701001000000000011U,462229,21100700,120570115092,19859 ANGEL LN,ODESSA,33556,3972,1996
6,7,172701001000000000012U,496434,21100700,120570115091,7320 W COUNTY LINE RD,ODESSA,33556,4643,2003
7,8,172701001000000000013U,358083,21100700,120570115091,7212 W COUNTY LINE RD,ODESSA,33556,3269,1999
8,9,172701001000000000014U,819704,21100700,120570115091,7222 W COUNTY LINE RD,ODESSA,33556,8203,2008
9,10,172701001000000000015U,325923,21100700,120570115091,7326 W COUNTY LINE RD,ODESSA,33556,2608,2003

In [8]:
# create dataframe with properties less than 2500 sqft
#the theory here is that most Fl homes are between 1000 and 2500sqft, this will help eliminate outliers that skew the average prop valueHills2020_df = Zip_df.loc[(Zip_df["BldgSqFt"]<"2500")
Hills2020_df = Zip_df.loc[(Zip_df["BldgSqFt"] < "2500")]
Hills2020_df.head()

,SEQ_NO,PARCEL_ID,PropertyValue,NBRHD_CD,CENSUS_BK,PropAddress,City,ZipCode,BldgSqFt,YearBuilt
15,16,17270100100000000001BU,317202,21100700,120570115091,7214 COLLEY RD,ODESSA,33556,2068,1986
17,18,172701001000000000020U,161380,21100700,120570115092,19901 ANGEL LN,ODESSA,33556,1728,1973
18,19,172701001000000000021U,345106,21100700,120570115092,19913 ANGEL LN,ODESSA,33556,1924,1976
22,23,172701001000000000025U,291198,21100700,120570115091,7502 W COUNTY LINE RD,ODESSA,33556,2482,2003
25,26,172701001000000000028U,292881,21100700,120570115091,7340 COLLEY RD,ODESSA,33556,2274,1982

In [9]:
#run calc
#Hills2020_df.groupby(['ZipCode'].size

In [10]:
#export to csv 
#Hills2020_df.to_csv("../Resources/2020_Hill_Prop_Value.csv")