In [12]:
#dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import gmaps.datasets
from scipy.stats import linregress
from scipy import stats
import os

In [13]:
crime_path13 = os.path.join ("../Resources/cd_33613.csv")
crimes_data13 = pd.read_csv(crime_path13)
crime_path56 = os.path.join ("../Resources/cd_33556.csv")
crimes_data56 = pd.read_csv(crime_path56)

In [14]:
crimes_data13.head()

,Unnamed: 0,Reported Date,Case Number,Crime Type,Crime Type Extension,Address,zip,year
0,0,1/1/2016,2016-281,DUI,DUI (DRIVING UNDER INFLUENCE),FLORIDA AV N / WINDWOOD OAKS DR,33613,2016
1,6,1/1/2016,2016-60,BATTERY,BATTERY-SIMPLE,13600 BLOCK GRAGSTON CR,33613,2016
2,7,1/2/2016,2016-2990,BURGLARY,THEFT FROM A VEHICLE,4000 BLOCK DREAM OAK PL,33613,2016
3,9,1/2/2016,2016-3345,THEFT,THEFT FROM A BUILDING,13700 BLOCK 42ND ST N,33613,2016
4,10,1/2/2016,2016-3552,BATTERY,BATTERY-SIMPLE,14200 BLOCK NEBRASKA AV N,33613,2016

In [15]:
crimes_data56.head()

,Unnamed: 0,Reported Date,Case Number,Crime Type,Crime Type Extension,Address,zip,year
0,0,1/1/2016,2016-1126,BATTERY,BATTERY-SIMPLE,17900 BLOCK CRAWLEY RD,33556,2016
1,1,1/4/2016,2016-7193,THEFT,THEFT MOTOR VEHICLE PARTS,11900 BLOCK TARPON SPRINGS RD,33556,2016
2,3,1/8/2016,2016-17773,MISCHIEF,CRIMINAL MISCHIEF MISDEMEANOR,15700 BLOCK BEREA DR,33556,2016
3,7,1/11/2016,2016-24062,BURGLARY,BURGLARY BUSINESS/ FORCED,8500 BLOCK GUNN HW,33556,2016
4,8,1/12/2016,2016-28675,BATTERY,BATTERY-SIMPLE,12700 BLOCK SILVER DOLLAR DR,33556,2016

In [16]:
combined_crimes_data = crimes_data13.append(crimes_data56)
combined_crimes_data.head()

,Unnamed: 0,Reported Date,Case Number,Crime Type,Crime Type Extension,Address,zip,year
0,0,1/1/2016,2016-281,DUI,DUI (DRIVING UNDER INFLUENCE),FLORIDA AV N / WINDWOOD OAKS DR,33613,2016
1,6,1/1/2016,2016-60,BATTERY,BATTERY-SIMPLE,13600 BLOCK GRAGSTON CR,33613,2016
2,7,1/2/2016,2016-2990,BURGLARY,THEFT FROM A VEHICLE,4000 BLOCK DREAM OAK PL,33613,2016
3,9,1/2/2016,2016-3345,THEFT,THEFT FROM A BUILDING,13700 BLOCK 42ND ST N,33613,2016
4,10,1/2/2016,2016-3552,BATTERY,BATTERY-SIMPLE,14200 BLOCK NEBRASKA AV N,33613,2016

In [17]:
combined_crimes_data.count

<bound method DataFrame.count of      Unnamed: 0 Reported Date            Case Number Crime Type  \
0             0      1/1/2016  2016-281                     DUI
1             6      1/1/2016  2016-60                  BATTERY
2             7      1/2/2016  2016-2990               BURGLARY
3             9      1/2/2016  2016-3345                  THEFT
4            10      1/2/2016  2016-3552                BATTERY
..          ...           ...                    ...        ...
912        2101    12/21/2020  2020-821157             BURGLARY
913        2102    12/25/2020  2020-830576              BATTERY
914        2105    12/26/2020  2020-833268                THEFT
915        2107    12/27/2020  2020-835504              BATTERY
916        2108    12/28/2020  2020-1503429               FRAUD

              Crime Type Extension                          Address    zip  \
0    DUI (DRIVING UNDER INFLUENCE)  FLORIDA AV N / WINDWOOD OAKS DR  33613
1                   BATTERY-SIMPLE          13600 BLOCK GRAGSTON CR  33613
2             THEFT FROM A VEHICLE          4000 BLOCK DREAM OAK PL  33613
3            THEFT FROM A BUILDING            13700 BLOCK 42ND ST N  33613
4                   BATTERY-SIMPLE        14200 BLOCK NEBRASKA AV N  33613
..                             ...                              ...    ...
912      BURGLARY BUSINESS/ FORCED               8700 BLOCK GUNN HW  33556
913                 BATTERY-SIMPLE      13100 BLOCK ROYAL GEORGE AV  33556
914      THEFT MOTOR VEHICLE PARTS              19000 BLOCK GUNN HW  33556
915                 BATTERY-SIMPLE    HORSE POND RD  /  PETERSON RD  33556
916            FRAUD-IMPERSONATION      12500 BLOCK EAGLES ENTRY DR  33556

     year
0    2016
1    2016
2    2016
3    2016
4    2016
..    ...
912  2020
913  2020
914  2020
915  2020
916  2020

[11370 rows x 8 columns]>

In [19]:
#export data to a csv file
combined_crimes_data.to_csv("../Resources/combined_crime_data.csv")